.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}



html,
body {
  margin: 0;
  padding: 0;
  width: 100vw !important;
}

/* Aplicar el gradiente radial al cuerpo */
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  /* Esto asegura que la página ocupe el 100% de la altura de la ventana */
  background: radial-gradient(at center, #CFCFCF, #8E8E8E);
}

::-webkit-scrollbar {
  width: 8px;
  /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color del fondo del scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Color del thumb del scrollbar */
  border-radius: 4px;
  /* Bordes redondeados del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color del thumb del scrollbar al pasar el ratón */
}